# `GroupBy` and `agg` (aggregrate) operations
### Dr. Tirthajyoti Sarkar, Fremont, CA 94536
In this notebook, we will illustrate the GroupBy and agggreate operations that can be performed on a DataFrame object.

### [Spark dataframe guide](https://spark.apache.org/docs/2.2.0/sql-programming-guide.html)

### Creating SparkSession and build an app

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark1 = SparkSession.builder.appName('aggs').getOrCreate()

### Read a dataset from a CSV file into a dataframe

In [4]:
df = spark1.read.csv('Data/sales_info.csv',inferSchema=True,header=True)

### See how the data looks like and print the schema

In [5]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [6]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

### `groupBy`

In [7]:
df.groupby('Company')

#### We can perform a variety of operations on this `pyspark.sql.group.GroupedData` object. 
For example, taking a `mean` (average).

In [8]:
df.groupby('Company').mean()

DataFrame[Company: string, avg(Sales): double]

So, the operation returns a DataFrame, not the actual mean. **Lazy evaluation** at play.

In [9]:
df.groupby('Company').mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

#### Some other operations
* `max`
* `min`
* `count`

In [10]:
df.groupby('Company').max().show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [11]:
df.groupby('Company').min().show()

+-------+----------+
|Company|min(Sales)|
+-------+----------+
|   APPL|     130.0|
|   GOOG|     120.0|
|     FB|     350.0|
|   MSFT|     124.0|
+-------+----------+

In [12]:
df.groupby('Company').count().show()

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

### `agg` or aggregrating
This method works with a slightly unconventional syntax. We have to pass on a dictionary as argument.<br>
Suppose, we want the sum total of sales. We use `sum` but pass it as the value of the key `Sales` of a dictionary,

In [14]:
df.agg({'Sales':'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+